h1 {
    text-align:center;
    background-color: purple;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    text-align: center;
    margin:0;

}
h2 {
    text-align:center;
    font-family: cursive;
    font-size: 100px;
    background-color: lightpink;
    color: purple;

}
p {
    background-color: purple;
    color: white;
}
.gay {
    text-align: center;
    color: purple;
    background-color: pink;
    border: solid 1px purple;
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}
.notgay {
    text-align: center;
    color: white;
    background-color: green;
    border: solid 1px brown;
    margin:5px;
    padding: 5px;
    font-weight: bold;
}